In [2]:
import pandas as pd
import numpy as np

In [4]:
file = ("fraud_detection_train.csv")
df = pd.read_csv(file)

Load data set fraud_detection_train menggunakan fungsi read_csv yang terdapa pada library pandas

In [5]:
df.head()

   visit_id  kdkc  dati2 typeppk  ... proc80_99  proce00_e99  procv00_v89  label
0         1  1107    150      SB  ...         0            0            0      1
1         2  1303    200      C   ...         4            0            0      1
2         3  1114    172      B   ...         0            0            0      1
3         4   601     90      SC  ...         0            0            0      1
4         5  1006    130      B   ...         0            0            0      1

[5 rows x 53 columns]

Menampilkan 5 data yang terdapat dalam data set

In [6]:
df.dtypes

visit_id          int64
kdkc              int64
dati2             int64
typeppk          object
jkpst            object
umur              int64
jnspelsep         int64
los               int64
cmg              object
severitylevel     int64
diagprimer       object
dx2_a00_b99       int64
dx2_c00_d48       int64
dx2_d50_d89       int64
dx2_e00_e90       int64
dx2_f00_f99       int64
dx2_g00_g99       int64
dx2_h00_h59       int64
dx2_h60_h95       int64
dx2_i00_i99       int64
dx2_j00_j99       int64
dx2_koo_k93       int64
dx2_l00_l99       int64
dx2_m00_m99       int64
dx2_n00_n99       int64
dx2_o00_o99       int64
dx2_p00_p96       int64
dx2_q00_q99       int64
dx2_r00_r99       int64
dx2_s00_t98       int64
dx2_u00_u99       int64
dx2_v01_y98       int64
dx2_z00_z99       int64
proc00_13         int64
proc14_23         int64
proc24_27         int64
proc28_28         int64
proc29_31         int64
proc_32_38        int64
proc39_45         int64
proc46_51         int64
proc52_57         int64
proc58_62         int64
proc63_67         int64
proc68_70         int64
proc71_73         int64
proc74_75         int64
proc76_77         int64
proc78_79         int64
proc80_99         int64
proce00_e99       int64
procv00_v89       int64
label             int64
dtype: object

Menampilkan type data dari setiap feature yang terdapat dalam dataset

In [7]:
df.describe(include='all')

             visit_id           kdkc  ...  procv00_v89          label
count   200217.000000  200217.000000  ...     200217.0  200217.000000
unique            NaN            NaN  ...          NaN            NaN
top               NaN            NaN  ...          NaN            NaN
freq              NaN            NaN  ...          NaN            NaN
mean    100109.000000    1147.367816  ...          0.0       0.500732
std      57797.813761     574.486224  ...          0.0       0.500001
min          1.000000     101.000000  ...          0.0       0.000000
25%      50055.000000     903.000000  ...          0.0       0.000000
50%     100109.000000    1101.000000  ...          0.0       1.000000
75%     150163.000000    1314.000000  ...          0.0       1.000000
max     200217.000000    2606.000000  ...          0.0       1.000000

[11 rows x 53 columns]

In [9]:
df.isnull().sum()

visit_id         0
kdkc             0
dati2            0
typeppk          0
jkpst            0
umur             0
jnspelsep        0
los              0
cmg              0
severitylevel    0
diagprimer       0
dx2_a00_b99      0
dx2_c00_d48      0
dx2_d50_d89      0
dx2_e00_e90      0
dx2_f00_f99      0
dx2_g00_g99      0
dx2_h00_h59      0
dx2_h60_h95      0
dx2_i00_i99      0
dx2_j00_j99      0
dx2_koo_k93      0
dx2_l00_l99      0
dx2_m00_m99      0
dx2_n00_n99      0
dx2_o00_o99      0
dx2_p00_p96      0
dx2_q00_q99      0
dx2_r00_r99      0
dx2_s00_t98      0
dx2_u00_u99      0
dx2_v01_y98      0
dx2_z00_z99      0
proc00_13        0
proc14_23        0
proc24_27        0
proc28_28        0
proc29_31        0
proc_32_38       0
proc39_45        0
proc46_51        0
proc52_57        0
proc58_62        0
proc63_67        0
proc68_70        0
proc71_73        0
proc74_75        0
proc76_77        0
proc78_79        0
proc80_99        0
proce00_e99      0
procv00_v89      0
label            0
dtype: int64

Melakukan pengecekan dan menghitung jumlah nilai null pada dataset. Melalui output dapat dilih bahwa pada data set tidak terdapat nilai null.